@import "tailwindcss";

@theme {
  --color-background: #fbc464;
  --color-gameBackground: #f2c982;
  --font-base: "Bebas Neue", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: #fff;
    font-family: var(--font-base);
  }
}
.hole {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.hole::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./assets/back.png") no-repeat center 23px / cover;
  z-index: 1;
}

.hole::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./assets/front.png") no-repeat center 23px / cover;
  z-index: 3;
  pointer-events: none;
}
